#result-container {
  margin-top: 4px;
  display: flex;
  flex-wrap: wrap;
}

#result-container > .result-item {
  text-align: center;
  min-width: 16px;
  padding: 4px;
  margin: 2px;
  background-color: lightblue;
}
